<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iLoveIbadah</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/iLoveIbadah.Website.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/utility.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
<div class="page">
<header class="header">
    <div class="wrapper header__content">
        <div class="brand">
            <span class="brand__logo">❤️</span>
            <p class="brand__name"><a href="/" class="brand__link">i Love Ibadah</a></p>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="Blog" asp-action="Index">Blogs</a></li>
                @* <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="UserAccount" asp-action="Login">Login</a></li> *@
                @if (User.Identity.IsAuthenticated)
                { 
                    <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="UserAccount" asp-action="">@User.Identity.Name</a></li>
                    <li class="nav__item"><form class="nav__link" method="post" asp-controller="UserAccount" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home")"><button type="submit" class="nav-link btn btn-link">Logout</button></form></li>
                }
                else
                {
                    <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="UserAccount" asp-action="Login">Login</a></li>
                    <li class="nav__item"><a class="nav__link" asp-area="" asp-controller="UserAccount" asp-action="Register">Register</a></li>
                }
            </ul>
        </nav>
        <div class="social">
            <a href="#" class="social__link" title="Discord">
                <i class="fab fa-discord"></i>
            </a>
            <a href="#" class="social__link" title="X">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social__link" title="Github">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</header>
<main class="main">
    @RenderBody()
</main>
<footer class="footer">
    <div class="wrapper footer__content">
        <div class="footer__top">
            <div class="footer__link-group">
                <h2 class="link-group__title">Product</h2>
                <ul class="link-group__list">
                    <li class="link-group__item"><a href="#" class="link-group__link">Download</a></li>
                            <li class="link-group__item"><a href="#" class="link-group__link">Github</a></li>
                            <li class="link-group__item"><a href="#" class="link-group__link">Changelog</a></li>
                </ul>
            </div>
            <div class="footer__link-group">
                <h2 class="link-group__title">Ressources</h2>
                <ul class="link-group__list">
                            <li class="link-group__item"><a class="link-group__link" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>
                            <li class="link-group__item"><a href="#" class="link-group__link">Repository of Apps</a></li>
                            <li class="link-group__item"><a href="#" class="link-group__link">Newsletter</a></li>
                </ul>
            </div>
            <div class="footer__link-group">
                <h2 class="link-group__title">Myself</h2>
                <ul class="link-group__list">
                    <li class="link-group__item"><a href="#" class="link-group__link">About</a></li>
                </ul>
            </div>
            <div class="footer__link-group">
                <h2 class="link-group__title">Get in Touch </h2>
                <ul class="link-group__list">
                    <li class="link-group__item"><a href="#" class="link-group__link">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__separator">
            <div class="separator__line"></div>
            <div class="brand">
                <span class="brand__logo">❤️</span>
                <p class="brand__name">ILoveIbadah</p>
            </div>
            <div class="separator__line"></div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">
                <p>&copy; 2025 iLoveIbadah. All rights reserved.</p>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Terms and Conditions</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Privacy</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="#" class="social__link" title="Discord">
                    <i class="fab fa-discord"></i>
                </a>
                <a href="#" class="social__link" title="X">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social__link" title="Github">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
    </div>
<!-- Default Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> <!-- Optional: If using Bootstrap -->
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
