@using System.Security.Claims
@model iLoveIbadah.Website.Models.BlogWithCommentsVM

@{
    ViewData["Title"] = "Blog";
    // var userIdString = User.FindFirstValue(ClaimTypes.NameIdentifier);
    // int userId = 0;
    // int.TryParse(userIdString, out userId);
}

<section class="wrapper">
    <h1 class="wrapper">@Model.Blog.Title</h1>
    <p>@Model.Blog.Content</p>
</section>
<section class="wrapper">
    <h2>Comments</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <form action="@Url.Action("Create", "Comment")" method="post">
            <input type="hidden" name="BlogId" asp-for="CreateComment.BlogId" value="@Model.Blog.Id" />
            <div class="form-group">
                <input name="Content" asp-for="CreateComment.Content" class="form-control" placeholder="Write a comment..."/>
            </div>
            <div class="form-group">
                <input type="submit" value="Comment" class="btn btn-primary btn-block" />
            </div>
            @Html.AntiForgeryToken()
        </form>
    }
    else
    {
        <p><strong>You must be logged in to post a comment!</strong></p>
        <hr/>
    }
    @foreach (var comment in Model.Comments)
    {
        if (comment.BlogId == Model.Blog.Id)
        {
            <div class="comment">
                @* @if (comment.UserAccountId == userId) *@
                @if (comment.UserAccountId == Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                {
                <form action="@Url.Action("Update", "Comment")" method="post">
                    <input type="hidden" name="Id" asp-for="UpdateComment.Id" value="@comment.Id"/>
                    <input type="hidden" name="blogId" value="@Model.Blog.Id"/>
                    <div class="form-group">
                        <input name="Content" asp-for="UpdateComment.Content" class="form-control" value="@comment.Content"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update Comment" class="btn btn-primary btn-block"/>
                    </div>
                    @Html.AntiForgeryToken()
                </form>
                }
                else
                {
                <p>@comment.Content</p>
                }
            </div>
        }
    }
    <a asp-action="Index">Back to List</a>
</section>
